@import "bootstrap/bootstrap";   // Import the original bootstrap less files
@import "_variables";            // override any variables for bootstrap/variables
@import "custom-styles";         // any custom styles we want to apply


html{
  body {
    background-color: #fafafa;

    header.site{
      height: 42px;
      width: 100%;
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      background-color: @panel-bg;
      box-shadow: 2px 2px 10px #888;
      z-index:100;

    }
    div.wrapper{
      display: flex;
      justify-content: center;
      div.content {
        width: 100%;
        max-width: 987px;
      }
    }

    .chat-module {
      background-color: white;
      .entry{
        display:flex;
        :last-child{
          flex: 1 100%;
        }
        .avatar{
          width: 36px;
          height: 36px;
          border-radius: 5px;
          border: 2px solid white;
          margin: 5px;
        }
        span{
          margin-left: 5px;
          margin-top: 5px;
          font-size: 12px;
          display: block;
        }
        .uname{
          font-weight: bold;
          display:inline-block;
        }
        .time{
          font-weight: bold;
          display:inline-block;
          color: @panel-inner-border;
          text-transform: uppercase;
        }
      }
      .chats {
        position: fixed;
        bottom: 0px;
        display: flex;
        .chat {
          position: relative;
          box-shadow: 5px 7px 5px #888888 !important;
          .panel;
          .panel-default;
          >header{
            display: flex;
            flex-wrap: nowrap;
            >span{
              flex-grow: 1;
              padding: 5px 10px;
              color: @input-color;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
            >i{
              color: @input-color;
              padding: 10px;
            }
            .panel-heading;
            position: relative;
            border-bottom: 1px solid @panel-inner-border;
          }
          .friend-list{
            position: absolute;
            background-color: @panel-bg;
            > div{
              .list-group;
              background-color: @panel-bg;
              .friend-card{
                :hover{
                  background-color:  @panel-inner-border;
                }
                border-bottom: 1px solid  @panel-inner-border;
                .list-group-item;
                .avatar{
                  width: 24px;
                  height: 24px;
                }
              }
              .friend-card.active{
                background-color: @panel-success-heading-bg;
              }
            }
          }
          margin-left: 20px;
          margin-bottom: 0px;
          width: 250px;
          .entries{
            height: 250px;
            overflow-x: hidden;
            overflow-wrap: break-word;
            .loading{
              text-align: center;
              i{
                padding:5px;
              }
            }
          }
          .cntrls{

            :first-child{
              border-radius: 0px;
              border-left:0px;
            }
            :last-child{
              border-radius: 0px;
              border-right:0px;
            }
          }
        }
      }
      .chat-cnt {

        position: fixed;
        top: 42px;
        right: 0px;
        width: 200px;
        bottom: 0px;
        border-left: 1px solid #ccc;
        .friend-list {
          .tools {
            padding: 5px;
          }
        }
      }
    }


    .friend-card {
      padding: 5px;
      background-color: @panel-bg;
      height: 100%;
      .avatar {
        width: 36px;
        height: 36px;
        border-radius: 18px;
        border: 2px solid white;
      }
      span {
        margin-left: 10px;
      }
    }

  }
}